PORT=3000

DB_URI=your_mongodb_connection_string_here

JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d
REFRESH_TOKEN_SECRET=your_refresh_token_secret_here
REFRESH_TOKEN_EXPIRES_IN=14d

REDIS_URL=redis://localhost:6379

CLIENT_URL=http://localhost:5173